In [12]:
timestamp = "2023-05-14 08:00" # Enter timestamp in UTC in this format 04 May 08AM UTC
api_key = "xxxxxxxx-yyyy-zzzz-aaaa-bbbbbbbbbbbb" # Enter your API key
garden_point_contract = "0xFeffc0E5C9575576C1922978102afa2D803Dc93F" # Enter garden point's contract
ch_proxy = "0x0b2e0bdaffd0881988f37057104977c9206fe481" # Enter cyberhornets' proxy contract on kometh
ch_comics = "0x303Fd791674D67e1288f769B54699c170eEdE5e7" # Enter cyberhornets' comic contract
loh_comics = "0xe2a67c823980dadf60bd1183281cac557b14271e" # Enter Life of Hel comic contract

In [13]:
# format for api_key
# api_key = "xxxxxxxx-yyyy-zzzz-aaaa-bbbbbbbbbbbb"

In [14]:
pip install shroomdk

Requirement already satisfied: shroomdk in /Users/fcitra/opt/anaconda3/lib/python3.8/site-packages (1.0.2)
Requirement already satisfied: urllib3==1.26.11 in /Users/fcitra/opt/anaconda3/lib/python3.8/site-packages (from shroomdk) (1.26.11)
Requirement already satisfied: requests==2.28.1 in /Users/fcitra/opt/anaconda3/lib/python3.8/site-packages (from shroomdk) (2.28.1)
Requirement already satisfied: pydantic==1.9.1 in /Users/fcitra/opt/anaconda3/lib/python3.8/site-packages (from shroomdk) (1.9.1)
Requirement already satisfied: certifi>=2017.4.17 in /Users/fcitra/opt/anaconda3/lib/python3.8/site-packages (from requests==2.28.1->shroomdk) (2020.6.20)
Requirement already satisfied: idna<4,>=2.5 in /Users/fcitra/opt/anaconda3/lib/python3.8/site-packages (from requests==2.28.1->shroomdk) (2.10)
Requirement already satisfied: charset-normalizer<3,>=2 in /Users/fcitra/opt/anaconda3/lib/python3.8/site-packages (from requests==2.28.1->shroomdk) (2.1.1)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /Users/fcitra/opt/anaconda3/lib/python3.8/site-packages (from pydantic==1.9.1->shroomdk) (3.7.4.3)
Note: you may need to restart the kernel to use updated packages.

In [15]:
import pandas as pd

In [16]:
from shroomdk import ShroomDK

# Initialize `ShroomDK` with your API Key
sdk = ShroomDK(api_key)


# First query is to get a block number for snapshot that corresponds to snapshot time
sql_blocknumber = f"""
    SELECT
        block_timestamp, 
        block_number
    FROM ethereum.core.ez_nft_transfers
    WHERE date_trunc('minute', block_timestamp) = '{timestamp}'
    ORDER BY block_timestamp DESC
    LIMIT 1
"""

query_result_timestamp = sdk.query(sql_blocknumber)

for record in query_result_timestamp.records:
    snapshot = record['block_number']

In [17]:
# Parameters can be passed into SQL statements 
# via native string interpolation
# Second query is to obtain token wallet balances during a particular block 

my_address = garden_point_contract # garden point contract

sql = f"""
    WITH wallets as(
    SELECT 
        nft_to_address as wallet, 
        max(block_number) as last_transfer 
    FROM ethereum.core.ez_nft_transfers 
    WHERE nft_address = LOWER('{my_address}')
    GROUP BY wallet
    ),

    first_data as(
    SELECT
        nft_to_address as owner,
        tokenid
    FROM ethereum.core.ez_nft_transfers
    WHERE nft_address = LOWER('{my_address}')
    AND block_number <= '{snapshot}'
    QUALIFY RANK() OVER (
        PARTITION BY tokenid 
        ORDER BY block_number DESC, event_index DESC) = 1        
    )
    SELECT *
    FROM first_data
    ORDER BY owner
    
"""

# Run the query against Flipside's query engine 
# and await the results
query_result_set = sdk.query(sql)

In [18]:
# third sql is to retrieve the minters of cyberhornets

sql_3 = f"""
    with chc_mints as (
    select
      block_timestamp, 
      block_number, 
      event_type,
      nft_address,
      nft_from_address as sender, 
      nft_to_address as wallet, 
      tokenid,
      erc1155_value 
    from ethereum.core.ez_nft_transfers
    where nft_from_address = LOWER('{ch_proxy}')
    and block_number <= '{snapshot}'
    )

    select wallet, sum(erc1155_value) as minted from chc_mints
    group by wallet
    order by minted DESC
    
"""

# Run the query against Flipside's query engine 
# and await the results
query_result_set_3 = sdk.query(sql_3)

In [19]:
# fourth sql is to retrieve the holders of cyberhornets, regardless of when
# and where they minted

sql_4 = f"""   
    with cyber_hornets as (
    select
        block_timestamp, 
        block_number, 
        event_type,
        nft_address,
        nft_from_address as sender, 
        nft_to_address as recipient, 
        tokenid,
        erc1155_value 
    from ethereum.core.ez_nft_transfers
    where nft_address = lower('{ch_comics}')
    and block_number <= '{snapshot}'
    ),

    transfer_to as (
    SELECT 
        recipient, 
        COUNT(*) as balance_in
    FROM cyber_hornets
    GROUP BY recipient),

    transfer_from as (
        SELECT 
            sender, 
            COUNT(*) as balance_out
    FROM cyber_hornets
    GROUP BY sender
    ),

    in_out as (
    select 
        recipient, 
        balance_in, 
        COALESCE(balance_out, 0) as new_balance_out 
    from transfer_to
    left join transfer_from on transfer_to.recipient = transfer_from.sender
    )

    SELECT 
        recipient, 
        balance_in, 
        new_balance_out, 
        balance_in - new_balance_out as bal
    FROM in_out
    order by bal desc 

"""

# Run the query against Flipside's query engine 
# and await the results
query_result_set_4 = sdk.query(sql_4)

In [20]:
# fifth sql is to retrieve the minters of life of hel

sql_5 = f"""
    with loh_mints as (
    select * 
    from ethereum.core.ez_nft_transfers
    where nft_address = LOWER('{loh_comics}')
    and block_number <= '{snapshot}'
    )

    select nft_to_address as wallet, count(*) as bal
    from loh_mints
    group by wallet
    
    
"""

# Run the query against Flipside's query engine 
# and await the results
query_result_set_5 = sdk.query(sql_5)

In [21]:
# create empty data frame container for garden point rarity holder
data = []

# convert sql run result into pandas dataframe
for record in query_result_set.records:
    owner = record['owner']
    tokenid = record['tokenid']
    data.append({'owner': owner, 'token_id': tokenid})
df = pd.DataFrame(data)

# convert token id data type from object/string to integer
df['token_id'] = df['token_id'].astype(int)

In [28]:
# create empty data frame container for cyber hornets minters

data_3 = []

for record in query_result_set_3.records:
    wallet = record['wallet']
    minted = record['minted']
    data_3.append({'wallet': wallet, 'minted': minted})
df_3 = pd.DataFrame(data_3)

# data frame for cyber hornets minters through kometh

df_3['minted'] = df_3['minted'].astype(int)

In [29]:
# create empty data frame container for cyber hornets holders

data_4 = []

for record in query_result_set_4.records:
    wallet = record['recipient']
    bal = record['bal']
    data_4.append({'owner': wallet, 'Cyber Hornets': bal})
df_4 = pd.DataFrame(data_4)

# data frame for cyber hornets minters through kometh

df_4['Cyber Hornets'] = df_4['Cyber Hornets'].astype(int)

In [30]:
# create empty data frame container for loh minters

data_5 = []

for record in query_result_set_5.records:
    wallet = record['wallet']
    bal = record['bal']
    data_5.append({'wallet': wallet, 'bal': bal})
df_5 = pd.DataFrame(data_5)

# data frame for cyber hornets minters through kometh

df_5['bal'] = df_5['bal'].astype(int)

In [31]:
# import garden point token metadata from github repository

token_metadata_url = 'https://raw.githubusercontent.com/fcitra/GP-snapshot/main/GardenPoint%20Covers.csv'
token_metadata_df = pd.read_csv(token_metadata_url)

In [32]:
# merge token holders' snapshot with token metadata
merged_df = pd.merge(df, token_metadata_df, on ='token_id', how = 'left')

# fill missing metadata value for new tokens minted from burning event 
merged_df['Metadata'].fillna('RARE', inplace = True)

# group token quantity based on holder wallet and rarity type
grouped_df = merged_df.groupby(['owner', 'Metadata'])['Metadata'].size()

# unstack grouped rows into columns
df_unstack = grouped_df.unstack()

# change NaN value into 0 
df_unstack = df_unstack.fillna(0)

In [33]:
# merged holders combine holders of Garden Point (including their rarities) and holders of Cyber Hornets

merged_holders = pd.merge(df_unstack, df_4, on = 'owner', how = 'outer')
merged_holders = merged_holders.fillna(0)

In [ ]:
# create file csv file name for garden point holders
# csv_name = 'snapshot_rarity_block_' + str(snapshot) + '.csv'
# obsolete

# create file csv for ch minters
# csv_ch_minters_name = 'ch_minters_block_' + str(snapshot) + '.csv'

# create file csv for ch holders
# csv_ch_holders_name = 'ch_holders_block_' + str(snapshot) + '.csv'
# obsolete

# export dataframe of GP rarity holders to csv file 
# df_unstack.to_csv(csv_name, index = True)
# obsolete

# export dataframe of CH minters to csv file 
# df_3.to_csv(csv_ch_minters_name, index = True)

# export dataframe of CH holders to csv file 
# df_4.to_csv(csv_ch_holders_name, index = True)
# obsolete

In [34]:
# create file csv file name for holders of GP and CH
csv_name = 'snapshot_GP_CH_block_' + str(snapshot) + '.csv'

# create file csv for ch minters
csv_ch_minters_name = 'ch_minters_block_' + str(snapshot) + '.csv'

# create file csv for loh minters
csv_loh_minters_name = 'loh_minters_block_' + str(snapshot) + '.csv'

# export dataframe of GP and CH holders to csv file
merged_holders.to_csv(csv_name, index = True)

# export dataframe of CH minters to csv file 
df_3.to_csv(csv_ch_minters_name, index = True)

# export dataframe of LOH minters to csv file 
df_5.to_csv(csv_loh_minters_name, index = True)